* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  background-color: #222222;
}

.container {
  display: grid;
gap: 10px;
  grid-template-columns: repeat(4,2fr);
  grid-template-rows: repeat(5,1fr);
  min-height: 100vh;
}

.weather-card {
background-color: #B8CFCE;
grid-column: 2;
grid-row: 2 /5;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
padding: 20px 15px;
position: relative;
}

.weather-card > img {
  width: 180px;
}

.suggest-card {
background-color: aqua;
grid-column: 3;
grid-row: 2 /5
}

.refresh {
  position: absolute;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
}

.forecast-container {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.forecast {
  width: 50px;
}

.current-container {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.current-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
